.my-item .my-item_counter {
    margin: 0 1rem;
    min-width: 100px;
}

.my-item .my-item__label {
    margin: 0 auto 0 1rem;
}

.error-msg {
    color: red;
    font-style: italic;
}

hr {
    width: 100%;
}